.react-select-container {
  border-radius: 6px;


}

.react-select-container:focus {
  border: 2px solid #191b4e;

}

.react-select__control {
  border: 2px solid #191b4e;
  background: #fff;
}



.react-select__control:focus {
  border: 2px solid #191b4e;
}


.react-select__value-container {
  color: #191b4e;

}

.react-select__option:focus {
  border: 2px solid #191b4e;

}

/*
.react-select__menu {}


.react-select__menu-list {}



.react-select__option {
  color: #191b4e;
}
*/
